

.industry{
    border: 1px solid black;
    border-radius: 10px;
    background-color:white;
    width:15em;
}

.IT{
    background-color: #119beba2;
}
.IT:hover{
    background-color: rgb(17, 149, 226)
}

