.wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 90px;
    max-width: 1440px;
    gap: 100px;
    align-items: center;
    margin: 0px auto;
    font-family: Inter;
    font-size: 14px;
    padding: 10px 40px;
    border-bottom: 2px solid rgb(182, 182, 182);
}


.menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 15px;
    font-size: 12px;
    color: black;
    /* opacity: 1;  */
}

.logo {
    height: 80%;
}