.wrapper {
    margin: 0px auto;
    max-width: 1200px;
}

.wrapper hr {
    margin: 0;
}

.forms {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: start;
    justify-content: space-around;
}