.membersField{
    text-align: left;
}

.card{
    border:1px solid black;
    border-radius: 1em;
    width:50em;
    margin-bottom: 1em;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}