.wrapper {
    max-width: 1440px;
    margin: 25px auto;
}

.wrapper td {
    padding-left: 15px;
}

.wrapper th {
    font-size: 20px;
    height: 40px;
}

tbody tr:nth-child(odd) {

    background-color: #c9e4f66b;
    /* фон нечетных строк */

}

/* tbody tr:nth-child (even) {

    background-color: #B4DAF2;/* фон четных строк */