.wrapper {
    max-height: 60px;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(252, 247, 69);
    background: linear-gradient(90deg, rgba(252, 247, 69, 1) 0%, rgba(253, 29, 29, 1) 100%);
    width: 100%;
    margin-top: auto;
}