.card {
    border: 1px solid #0000ff;
    border-radius: 10px;
    width: 50em;
    overflow: hidden;
    z-index: 1;
    margin-top: 25px;
    padding-left: 15px;

}

.card>div {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-flow: row nowrap;
    align-items: start;
    gap: 15px;

}