.row {
  display: flex;
  flex-direction: row;
  gap: 5px
}

.col {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.menu {

  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  width: 30em;

}